/*style.css*/

h1 {
font-size: 1.17em;
font-weight: bold;
}
h2 {
font-size: 1em;
font-weight: bold;
}
h3 {
font-size: .83em;
font-weight: bold;
}
a:link {
color: black;
}
a:visited {
color: darkslategrey;
}
a:hover {
color: teal;
}
a:active {
color: red;
}


.pagetitle {
font-size: 1.17em;
font-style: italic;
font-weight: bold;
}

.bodyoutline {
list-style-type: none;
}
