<html lang="en">

<head>
	<title>Summer Food Rocks! - Find free USDA summer meals near you</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z146Y0Z8B"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-2Z146Y0Z8B');
	</script>

	<!-- Favicon -->
	<link href="/assets/images/favicon.ico" type="image/ico" rel="icon" />

	<!-- SEO Meta Tags -->
	<meta id="MetaDescription" name="DESCRIPTION"
		content="Summer Food Rocks! Use our 2023 Site Finder to locate USDA Approved sites in your neighborhood. Free Electronic Meal Counter app replaces the paper meal form. Use on any phone or mobile device. Summer Food Service Program 2023." />

	<meta id="MetaKeywords" name="KEYWORDS"
		content="Free Summer Meals Near Me 2023, Summer Food Service Program, SFSP, Martin Vicknair, Summer Food Rocks" />

	<meta id="MetaAuthor" name="Martin Vicknair" content="Web Developer - https://martinvicknair.github.io/" />

	<!-- jQuery first, then Bootstrap JS -->
	<script src="/assets/js/jquery-3.3.1.min.js"></script>

	<script src="/assets/js/bootstrap-4.2.1.bundle.min.js"></script>

	<script src="/assets/js/handlebars-2.0