<!DOCTYPE html>
<html lang="en">
<head>
	<title>SummerFoodRocks.io</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="/assets/images/favicon.png" type="image/png" rel="icon">
	<meta id="MetaDescription" name="DESCRIPTION" content="Summer Food Rocks! Summer Food Service Program 2018.
                                Use our 2018 Site Finder to locate USDA Approved sites in your neighborhood.
                                All participating institutions are equal opportunity providers. 2018 SFSP Free Summer Meals for Kids and Teens." />
	<meta id="MetaKeywords" name="KEYWORDS" content="Summer Food Rocks, SFSP 2018, Summer Site Finder 2018, Free Summer Meals 2018, Summer Food Service Program 2018" />
	<meta id="MetaAuthor" name="Martin Vicknair" content="Equal Heart, SFSP Site Finder" />

	<!-- general scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<!-- styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<!-- local scripts -->
	<script src="/assets/js/logic.js"></script>


</head>
<body>
	{{{ body }}}
</body>
</html>
