<!DOCTYPE html>
<html lang="en">

<head>
	<title>Summer Food Rocks!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="/assets/images/favicon.ico" type="image/ico" rel="icon">
	<meta id="MetaDescription" name="DESCRIPTION" content="Summer Food Rocks!
	Use our 2019 Site Finder to locate USDA Approved sites in your neighborhood.
	Free Electronic Meal Counter app replaces the paper meal form.
	Use on any phone or mobile device.
	Summer Food Service Program 2019." />
	<meta id="MetaKeywords" name="KEYWORDS" content="Summer Food Rocks, SFSP 2018, Summer Site Finder 2018, Free Summer Meals 2018, Summer Food Service Program 2018" />
	<meta id="MetaAuthor" name="Martin Vicknair" content="Equal Heart, SFSP Site Finder" />

	<!-- jQuery first, then Bootstrap JS -->
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/bootstrap-4.2.1.bundle.min.js"></script>
	<script src="assets/js/handlebars-2.0.0.min.js"></script>
	<link rel="stylesheet" href="assets/css/bootstrap-4.2.1.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
	{{{ body }}}
</body>

</html>
