<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z146Y0Z8B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2Z146Y0Z8B');
</script>

	<title>Summer Food Rocks! | Find free USDA summer meals near you</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="/assets/images/favicon.ico" type="image/ico" rel="icon">
	<meta id="MetaDescription" name="DESCRIPTION" content="Summer Food Rocks!
	Use our 2023 Site Finder to locate USDA Approved sites in your neighborhood.
	Free Electronic Meal Counter app replaces the paper meal form.
	Use on any phone or mobile device.
	Summer Food Service Program 2023." />
	<meta id="MetaKeywords" name="KEYWORDS" content="Free Summer Meals Near Me 2023, Summer Food Service Program, SFSP, Martin Vicknair, Summer Food Rocks" />
	<meta id="MetaAuthor" name="Martin Vicknair" content="Web Developer - https://martinvicknair.github.io/" />

	<!-- jQuery first, then Bootstrap JS -->
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/bootstrap-4.2.1.bundle.min.js"></script>
	<script src="assets/js/handlebars-2.0.0.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/bootstrap-4.2.1.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

<meta property="og:title" content="2021 Free Summer Meals Site Finder">
<meta property="og:site_name" content="Summer Food Rocks!">
<meta property="og:url" content="https://summerfoodrocks.org">
<meta property="og:description" content="Find Free Summer Meals in your neighborhood! All new site finder for 2023. All kids 18 and under eat free, all summer long! USDA approved sites.
https://SummerFoodRocks.org">
<meta property="og:type" content="website">
<meta property="og:image" content="/assets/images/Summer-Food-Service-Program.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@summerfoodrocks">
<meta name="twitter:description" content="Find Free Summer Meals in your neighborhood! All new site finder for 2023. All kids 18 and under eat free, all summer long! USDA approved sites.">
<meta name="twitter:title" content="2023 Free Summer Meals Site Finder">
<meta name="twitter:image" content="/assets/images/Summer-Food-Service-Program.jpg">

</head>

<body>
	{{{ body }}}
</body>

</html>
