<!DOCTYPE html>
<html lang="en">

<head>
	<title>Summer Food Rocks!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="/assets/images/favicon.ico" type="image/ico" rel="icon">
	<meta id="MetaDescription" name="DESCRIPTION" content="Summer Food Rocks!
	Use our 2021 Site Finder to locate USDA Approved sites in your neighborhood.
	Free Electronic Meal Counter app replaces the paper meal form.
	Use on any phone or mobile device.
	Summer Food Service Program 2021." />
	<meta id="MetaKeywords" name="KEYWORDS" content="Free Summer Meals Near Me 2021, Summer Food Service Program, SFSP, Martin Vicknair, Summer Food Rocks" />
	<meta id="MetaAuthor" name="Martin Vicknair" content="Web Developer - https://martinvicknair.github.io/" />

	<!-- jQuery first, then Bootstrap JS -->
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/bootstrap-4.2.1.bundle.min.js"></script>
	<script src="assets/js/handlebars-2.0.0.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/bootstrap-4.2.1.min.css">
	<link rel="stylesheet" href="assets/css/style.css">


</head>

<body>
	{{{ body }}}
</body>

</html>
