<div class="container mx-auto">
  <div class="row top-buffer">
    <div class="col-md-8 mx-auto">
      <nav class="navbar navbar-light bg-success text-white justify-content-between">
        <div class="col-md-1">
          <div><a href="index.html"><img src="assets/images/favicon.png" alt="2018 Summer Site Finder" width="60" height="60"></a></div>
        </div>
        <div class="col-md-4">
          <a href="index.html" class="navbar-brand text-white">Summer Food Rocks!<br>
                                                               AmeriCorps 2018</a>
        </div>
        <div class="col-md-1">
          <div></div>
        </div>
        <div class="col-md-4">
          <div>Equal Heart<br> Service Opportunities</div>
        </div>
        <div class="col-md-2">
          <div></div>
        </div>
      </nav>
    </div>
    <!-- col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row top-buffer">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/SFSP1.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row top-buffer">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">AmeriCorps gets things done for America – building safer, stronger, healthier, and more united communities across the nation. </p>
              <p class="card-text">Want to spend the summer outdoors, working with kids? A typical day involves loading lunches into the vans, then serving the kids where they live. We spend a lot of time on the playground.</p>
            <p class="card-text">Every AmeriCorps alum earns an Education Award - to date that's over $3.3 billion earned in scholarship funds and $1 billion specifically used to pay off student loans. </p>
            </div>

            <img class="card-img-top" src="assets/images/americorps.png" alt="Serve with AmeriCorps">
          </div>
        </div>
        <!-- /.col <-->
        <div class="col-md-6 col-sm-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">This summer Equal Heart will distribute over 400,000 meals to at-risk children, in your community. We are hiring drivers (21 & older) and on-site team members (17 & older).</p>

              <img class="card-img-bottom" src="assets/images/Ed_Award_graphic.jpg" alt="Card image cap">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center"><strong>$$</strong> Get paid a weekly living allowance during the summer <strong>$$</strong></li>
              <li class="list-group-item">PLUS: You will earn an Education Award for school upon successful completion of the program for up to $(amount)</li>
            </ul>
            <div class="card-body text-center">
              <a href="https://www.indeed.com/cmp/Equal-Heart" class="card-link">See our current opportunities <br>on indeed.com</a>

            </div>
          </div>
        </div>
        <!-- /.col -->
        </-->
      </div>
      <!-- /.row -->


    </div>
  </div>

</div>
<!-- <div class="container mx-auto"> -->
