<div class="container mx-auto">
  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <nav class="navbar navbar-light bg-success text-white justify-content-between">
        <div class="col-md-1">
          <div><a href="/"><img src="assets/images/favicon.ico" alt="" width="60" height="60"></a></div>
        </div>
        <div class="col-md-4 navbar-brand text-white">
          <p>Summer Food Rocks!</p>
          <p>2019 SFSP Resources</p>
        </div>
        <div class="col-md-1">
          <div></div>
        </div>
        <div class="col-md-4">
          <a href="/sitefinder">
            <p class="text-white">Site Finder</p>
          </a>
          <a href="/mealcounter">
            <p class="text-white">Meal Counter</p>
          </a>
        </div>
        <div class="col-md-2">
          <div></div>
        </div>
      </nav>
    </div>
    <!-- col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/SFSP1.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Summer Food Service Program</h5>
              <p class="card-text">The U.S. Department of Agriculture’s (USDA) Summer Food Service Program (SFSP),
                also known as the Summer Meals Program, provides kids and teens in low-income areas free meals when school is out.</p>
              <p class="card-text">The SFSP is a federally-funded, state-administered program. The SFSP reimburses providers who serve free
                healthy meals to children and teens in low-income areas during the summer months when school is not in session.
                The SFSP serves children and teens age 18 and younger.</p>
            </div>

          </div>
        </div>
        <!-- /.col <-->
        <div class="col-md-6 col-sm-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title"><a href="/sitefinder">2019 Site Finder</a></h5>
              <p class="card-text">Find USDA-approved meal sites in your neighborhood, where children receive free meals in a safe and supervised environment.</p>
              <div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search by address" aria-label="Search" width="80%">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title"><a href="/mealcounter">Meal Counter</a></h5>
            <p class="card-text">This is an electronic Point of Service Meal Capture app designed for use in USDA-approved programs. It replaces the paper Daily Meal Count Form used in programs such as SFSP.</p>

          </div>
        </div>
        </div>
        <!-- /.col -->
        </-->
      </div>
      <!-- /.row -->


    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-8 mx-auto" id="footer">
      <div class="card text-center">
        <div class="card-header">
          <a href="https://github.com/martinvicknair/fish">Denver University Coding Bootcamp - Team Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container mx-auto"> -->
