<div class="container-fluid">
  <ul>
  <li><h1><a href="https://martinv.io" title="#home" class="pagetitle">martinv.io</a></h1></li>
</ul>
<main>
  <ul class="bodyoutline">
    <li><h2>development</h2>
      <ul>
        <li><h3>du coding bootcamp</h3></li>
        <li><h3>rfid locater app</h3></li>
      </ul>
    </li>
    <li><h2>projects</h2>
      <ul>
        <li><h3><a href="http://wx.martinv.io">weather station KCODENVE472</a></h3></li>
        <li><h3>tvtanks.com</h3></li>
      </ul>
    </li>
    <li><h2>contact</h2>
      <ul>
        <li><h3><a href="https://linkedin.com/in/martinvicknair"> linkedin profile</a></h3></li>
      </ul>
    </li>
  </ul>
</main>
</div>
