<div class="container mx-auto">
  <div class="row mt-1">
    <div class="col-md-8 mx-auto">

      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">
    <img src="assets/images/sm-apple.png" width="40" class="d-inline-block" alt="">
    Summer Food Rocks!
  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sitefinder">Site Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mealcounter">Meal Counter</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- <nav class="navbar navbar-light bg-success text-white justify-content-between">
        <div class="col-md-1">
          <div><a href="/"><img src="assets/images/sm-apple.png" alt="" width="60"></a></div>
        </div>
        <div class="col-md-4 navbar-brand text-white">
          <p>Summer Food Rocks!</p>
          <p>2019 SFSP Resources</p>
        </div>
        <div class="col-md-1">
          <div></div>
        </div>
        <div class="col-md-4">
          <a href="/sitefinder">
            <p class="text-white">Site Finder</p>
          </a>
          <a href="/mealcounter">
            <p class="text-white">Meal Counter</p>
          </a>
        </div>
        <div class="col-md-2">
          <div></div>
        </div>
      </nav> -->
    </div>
    <!-- col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/SFSP1.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Summer Food Service Program</h5>
              <p class="card-text">The U.S. Department of Agriculture’s (USDA) Summer Food Service Program (SFSP),
                also known as the Summer Meals Program, provides kids and teens in low-income areas free meals when school is out.</p>
              <p class="card-text">The SFSP is a federally-funded, state-administered program. The SFSP reimburses providers who serve free
                healthy meals to children and teens in low-income areas during the summer months when school is not in session.
                The SFSP serves children and teens age 18 and younger.</p>
            </div>

          </div>
        </div>
        <!-- /.col <-->
        <div class="col-md-6 col-sm-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="/sitefinder">2019 Summer Meals Site Finder <img src="/assets/images/Google-Maps-icon.png" height="26" width="26"></a></h5>
              <p class="card-text">Find USDA-approved meal sites in your neighborhood, where children and teens age 18 and younger receive free meals in a safe and supervised environment.</p>
              <div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search by address" aria-label="Search" width="80%">
              </div>
            </div>
          </div>


          <div class="card mt-1">
            <div class="card-body">
            <h5 class="card-title"><a href="/mealcounter">Meal Counter <img src="/assets/images/pdf.jpg" height="26" width="26"></a></h5>
            <p class="card-text">This is an electronic Point of Service Meal Capture app designed for use in USDA-approved programs. It replaces the paper Daily Meal Count Form used in programs such as SFSP.</p>
          </div>
        </div>

        </div>
        <!-- /.col -->
        </-->
      </div>
      <!-- /.row -->


    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-8 mx-auto" id="footer">
      <div class="card text-center">
        <div class="card-header">
          <a href="https://github.com/martinvicknair/summerfoodrocks-node">Denver University Coding Bootcamp - Node Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container mx-auto"> -->
