<div class="container mx-auto">
  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Summer Food Rocks!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/resources">Resources</a>
            <a class="nav-item nav-link" href="/mealcounter">Meal Counter</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="card text-caneter">
        <img src="assets/images/sfsp-banner.png" class="rounded img-fluid.max-width: 100%; max-height: 160px" alt="">
        {{!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>--}}
      </div>
    </div> 
  </div>

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <nav class="navbar navbar-dark bg-success">
        <div class="navbar-brand">2022 Summer Meals Site Finder</div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><a href="#"><img src="assets/images/geolocation.png"
                  title="Use my location" width="20" height="20" id="geolocateButton" onclick="getLocation()"
                  class="rounded" alt="Geolocation"></a></span>
          </div>
          <input type="text" class="form-control mr-sm-2" id="pac-input" type="search"
            placeholder="Search by address or current location" aria-label="Search">
        </div>
      </nav>
    </div>
    <!-- col-md-8 mx-auto -->
  </div>
  <!-- /.row -->



  <div class="row">
    <div class="col-md-8 mx-auto mt-1">
      <div class="card text-center" id="map" style="height:375px"><img class="mx-auto" src="assets/images/" width="297"
          height="297" alt="Find 2023 Summer Sites near you">
        <p>Click geolocate to find the sites nearest you ...</p>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <p>Free and open to all children (18 & under)<br> USDA approved sites in all 50 states<br> All institutions
            are equal opportunity providers</p>
          <span id="responseText"></span>
        </div>
        <div class="card-body">
          <ul class="list-group mx-auto" id="contentString">

            <li class="list-group-item text-center" id="noResultsString">Find a Family Picnic near you<br>USDA Approved
              Sites<br><strong>Search your present location, address, or Zip Code</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    {{!-- <div class="col-md-8 mx-auto" id="footer">
      <div class="card text-center">
        <div class="card-header">
          <a href="https://github.com/martinvicknair/summerfoodrocks-node">Denver University Coding Bootcamp - Node
            Project</a>
        </div>
      </div>
    </div> --}}
    <div class="col-md-8 mx-auto" id="footer">
      <div class="card text-center">
        <div class="card-header">
          <a href="https://twitter.com/summerfoodrocks"><i class="fab fa-twitter-square fa-2x"></i></a>
          <a href="https://github.com/martinvicknair"><i class="fab fa-github-square fa-2x"></i></a>
          <a href="https://linkedin.com/in/martinvicknair"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="card-body">
          <a href="https://martinvicknair.github.io">martinvicknair.github.io</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="assets/js/moment-2.20.1.min.js"></script>
<script src="assets/js/OverlappingMarkerSpiderfier-1.0.3-oms.min.js"></script>
<script src="assets/js/sitefinder.js" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARvcb8k2VymNpWzQiNWFzf592yoBl5pKA&libraries=places,geometry&callback=initMap"></script>