<div class="container-fluid">
  <ul>
  <li><h3><a href="https://martinv.io" title="#home" class="pagetitle">martinv.io</a></h3></li>
</ul>
<main>
  <ul class="bodyoutline">
    <li><h3>development</h3>
      <ul>
        <li><h3>du coding bootcamp projects</h3></li>
        <li><h3>rfid locater adev</h3></li>
      </ul>
    </li>
    <li><h3>projects</h3>
      <ul>
        <li><h4><a href="http://wx.martinv.io">weather station KCODENVE472</a></h4></li>
        <li><h4>tvtanks.com</h4></li>
      </ul>
    </li>
    <li><h3>contact</h3>
      <ul>
        <li><h4><a href="https://linkedin.com/in/martinvicknair"> linkedin profile</a></h4></li>
      </ul>
    </li>
  </ul>
</main>
</div>
