
  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/americorps">Looking for 2018 AmeriCorps Service Opportunities?!<img src="assets/images/americorps.png" alt="2018 AmeriCorp Equal Heart" width="45" height="30"></a>
          </li>
        </ul>
      </div>
      <!-- /.col-md-8  -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-8 mx-auto">
        <nav class="navbar navbar-light bg-success text-white ">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/favicon.png" alt="2018 Summer Site Finder" width="60" height="60">
            </div>
            <div class="col-md-8">
              <a class="navbar-brand">Summer Food Rocks!<br>
                  2018 Summer Meals Finder</a>
              <div class="row">
                <div class="col-md-1">
                  <a href="#"><img src="assets/images/location.jpg" title="Show my location" width="20" height="20" id="geolocateButton"  onclick="getLocation()" class="rounded" alt="Geolocation"></a>
                </div>
                <div class="col">
                  <input class="form-control mr-sm-2" id="pac-input" type="search" placeholder="Search by address" aria-label="Search" width="80%">
                </div>
              </div>
            </div>
            <!-- /.col-md-8 -->
          </div>
          <!-- /.row -->


        </nav>
      </div>
      <!-- col-md-8 mx-auto -->
    </div>
    <!-- /.row -->



    <div class="row">
      <div class="col-md-8 mx-auto top-buffer">
        <div class="card text-center" id="map" style="height:375px"><img class="mx-auto" src="assets/images/earth.gif" width="297" height="297" alt="Find 2018 Summer Sites near you">
          <p>Click geolocate to find the sites nearest you ...</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row top-buffer">
      <div class="col-md-8 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <p>Free and open to all children (18 & under)<br> USDA approved sites<br> These institutions are equal opportunity providers:</p>
            <span id="responseText"></span>
          </div>
          <div class="card-body">
            <ul class="list-group mx-auto" id="contentString">

              <li class="list-group-item text-center" id="noResultsString">Find a Family Picnic near you<br>USDA Approved Sites<br><strong>Search your present location, address, or Zip Code</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row top-buffer bottom-buffer">
      <div class="col-md-8 mx-auto" id="footer">
        <div class="card text-center">
          <div class="card-header">
            <a href="https://github.com/martinvicknair/fish">Denver University Coding Bootcamp - Team Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd25a5DYATHihaZXMJLxG4EHCWKc08yy4&libraries=places,geometry&callback=initMap"></script>
