<div class="container mx-auto">

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Summer Food Rocks!<br>SFSP Resources</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/resources">Resources <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/mealcounter">Meal Counter</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/SFSP1.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- /.col-md-8 mx-auto -->
  </div>
  <!-- /.row -->

  <div class="row mt-1">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="/sitefinder">2024 Summer Meals Site Finder</a></h5>
              <p class="card-text">Find USDA-approved meal sites in your neighborhood, where children and teens age 18
                and younger receive free meals in a safe and supervised environment.</p>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""><a href="/sitefinder"><img
                        src="/assets/images/Google-Maps-icon.png" title="Go to SiteFinder" width="20" height="20"
                        id="" class="rounded" alt=""></a></span>
                </div>
                <input type="text" class="form-control mr-sm-2" id="pac-input" type="search"
                  placeholder="Search by address or current location" aria-label="Search">
              </div>


            </div>
          </div>


          <div class="card mt-1">

            <div class="card-body">
              <h5 class="card-title"><a href="/mealcounter">SFSP Meal Counter <img src="/assets/images/pdf.jpg"
                    height="26" width="26"></a></h5>
              <p class="card-text">
                This is an electronic Point of Service Meal Capture app designed for use in USDA-approved programs. It
                replaces the paper Daily Meal Count Form used in programs such as SFSP.
              </p>
              <ul class="">
                <li>Simple user interface</li>
                <li>Reduces errors, saves time</li>
                <li>Captures data in real time</li>
                <li>Works on any mobile device</li>
              </ul>
              <p class="mt-3">At the conclusion of meal service, a USDA-approved Meal Count Form is generated as a PDF
                document which can be downloaded, emailed, printed, or stored electronically.</p>


              </p>
            </div>
          </div>

        </div>
        <!-- /.col <-->
        <div class="col-md-6 col-sm-12">

          <div class="card">
            <h5 class="card-header">Summer Food Service Program</h5>
            <div class="card-body">
              <p class="card-text">The U.S. Department of Agriculture’s (USDA) Summer Food Service Program (SFSP),
                also known as the Summer Meals Program, provides kids and teens in low-income areas free meals when
                school is out.</p>
              <p class="card-text">The SFSP is a federally-funded, state-administered program. The SFSP reimburses
                providers who serve free
                healthy meals to children and teens in low-income areas during the summer months when school is not in
                session.
                The SFSP serves children and teens age 18 and younger.</p>
            </div>
          </div>

          <div class="card mt-1">
            <h5 class="card-header">About</h5>
            <div class="card-body">
              <p class="card-text">This website originated as a demonstration project for Denver University Coding Boot
                Camp. Project code is hosted on <a
                  href="https://github.com/martinvicknair/summerfoodrocks-node">GitHub</a>.</p>
              <p class="card-text">Built with Node.js, Express, Handlebars, Bootstrap, and the Google Maps API. Hosted
                on Cloudways by DigitalOcean, using Ubuntu and nginx.</p>

              {{!-- <p class="small text-center"><em>SummerFoodRocks.org is not affiliated with the USDA</em></p> --}}
            </div>
          </div>

        </div>
        <!-- /.col -->
        </-->
      </div>
      <!-- /.row -->


    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-8 mx-auto" id="footer">
      <div class="card text-center">
        <div class="card-header">
          <a href="https://twitter.com/summerfoodrocks"><i class="fab fa-twitter-square fa-2x"></i></a>
          <a href="https://github.com/martinvicknair"><i class="fab fa-github-square fa-2x"></i></a>
          <a href="https://linkedin.com/in/martinvicknair"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="card-body">
          <a href="https://martinvicknair.github.io">martinvicknair.github.io</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container mx-auto"> -->
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARvcb8k2VymNpWzQiNWFzf592yoBl5pKA&libraries=places"> --}}
</script>
<script src="assets/js/resources.js" charset="utf-8"></script>